.idea/

legacy_builder_website/

builder_website/package.json
builder_website/package-lock.json
builder_website/.idea/
builder_website/node_modules/
builder_website/public/minecraft/
builder_website/public/img/
builder_website/public/rendered_items/
builder_website/public/rendered_images/
builder_website/public/testpack/
builder_website/public/testpack.*
builder_website/public/themes/
builder_website/src/assets/aura/
builder_website/src/assets/lara/

docs/.retype
docs/node_modules

plugin/.idea/
plugin/cache/
plugin/htmlReport/
plugin/libraries/
plugin/logs/
plugin/server/
plugin/target/
plugin/Challenges.iml
plugin/src/main/resources/rendered_items
plugin/unicode_mapping/textures/
plugin/generated_jar/
