.idea/

legacy_builder_website/

builder_website/.idea/
builder_website/node_modules/
builder_website/public/minecraft/
builder_website/public/img/
builder_website/public/rendered_items/
builder_website/public/rendered_images/
builder_website/public/testpack/
builder_website/public/testpack.*
builder_website/public/themes/
builder_website/src/assets/aura
builder_website/src/assets/lara
builder_website/path/to/
builder_website/cypress/downloads/

live_website/node_modules
live_website/src/assets/aura
live_website/src/assets/lara
live_website/public/rendered_images

criteria-interfaces/build
criteria-interfaces/node_modules

homepage/

live_triggers/

flow.md
test.json

docs/.retype
docs/node_modules

plugin/.idea/
plugin/cache/
plugin/htmlReport/
plugin/libraries/
plugin/logs/
plugin/server/
plugin/target/
plugin/Challenges.iml
plugin/src/main/resources/rendered_items
plugin/generated_jar/
plugin/unicode_mapping

data_generation/unicode_mapping/textures
data_generation/Challenges Plugin RP/
data_generation/Challenges Plugin RP.zip

homepage/node_modules

